@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Lato', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 3px;
}

.toggles {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  transition: background-color 0.2s ease;
  border-radius: 10px;
}

.toggle {
  visibility: hidden;
}

.label {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.loading {
  margin-top: 100px;
  background-color: rgba(255,255,255,0.5);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0;
  max-width: 1200px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100,100,100,0.5);
  width: 180px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.pokemon .types {
  display: flex;
}

.type {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}

.hide {
  display: none;
}